Package: sparql-integrate-cli
Version: [[version]]
Section: web
Priority: optional
Architecture: all
Depends: java-runtime-headless
Maintainer: Claus Stadler <cstadler@informatik.uni-leipzig.de>
Description: SparqlIntegrate Command Line Interfaces
Distribution: ldstack-nightly
Homepage: http://aksw.org/Projects/SparqlIntegrate
Vcs-Git: git://github.com/SmartDataAnalytics/SparqlIntegrate.git
Vcs-Browser: https://github.com/SmartDataAnalytics/SparqlIntegrate
